<h2>Select welcome message language</h2>
<div>
    <div class="form-group">
        <label for="name">Name</label>
        <textarea name="names" id="names" rows="1" cols="50" [(ngModel)]="names" (change)="setMessage()" ></textarea>
    </div>
    <div class="form-group">
        <label for="language">Language</label>
        <select name="language" id="language" class="form-control" [(ngModel)]="language" (change)="setMessage()" >
            <option value="">-- Select --</option>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="it">Italian</option>
            <option value="sp">Spanish</option>
            <option value="gr">German</option>
        </select>
    </div>
    <div >
        <a routerLink="/test" class="btn btn-link">Test Page</a>
    </div>
    <div >
        <ul>
            <li *ngFor="let msg of message">{{ msg }}</li>
        </ul>
    </div>
</div>